html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

body {
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75em;
  color: #8a8a8a;
  background-color: #2a2a2a;
  text-align: left;
  font-family: 'Lato', sans-serif;
  transition: transform .45s cubic-bezier(0,.75,0,1);
}

p, a, .aboutMe li{
  color: #8a8a8a;
  font-size: 1.20em;
  line-height: 1.9em;
  font-weight: 400;
  letter-spacing: 0px;
  text-decoration: none;
  font-family: Lato, Helvetica, Arial, sans-serif;
}

p, h1 {
  padding: 0 10% 0 10%;
}

a {
  letter-spacing: 4px;
}

.bold {
  font-family: inherit;
  font-size: 1.1em;
  font-weight: 700;
  color: #9a9a9a;
}

h1 {
  color: #cacaca;
  font-size: 2.0em;
  line-height: 1.7em;
  font-weight: 700;
  letter-spacing: 3.5px;
  font-family: 'Montserrat', sans-serif;
}

a:hover {
  text-decoration: none;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 15px;
  background-color: #5c5c5c;
  padding-top: 10px;
  padding-bottom: 13px;
}

.navbar li > a {
  color: #cacaca;
  transition: all .3s ease-in-out;
}

.navbar li a:hover {
  color: #000;
  transform: scale(1.1);
}

.custom-underline {
  position: relative;
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.custom-underline,
.custom-underline:hover,
.custom-underline:focus,
.custom-underline:active {
  color: rgb(202, 202, 202);
  text-decoration: none;
}

.custom-underline::after {
  content: "";
  position: absolute;
}

li .custom-underline::after {
  top: 90%;
  height: 2px;
  width: 0%;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  transition: 0.4s ease-out all .1s;
}

li:hover .custom-underline::after {
  width: 90%;
  left: 5%;
  transition: 0.4s ease all;
}

.myTitle {
  height: 78vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.divider {
  margin-top: 30px;
  margin-bottom: 15px;
  background-color: #5c5c5c;
  padding-bottom: 4px;
}

.projects {
  display: flex;
  justify-content: center;
}

.project {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(1, auto);
  border: solid 1px rgb(202, 202, 202);
  margin: 40px;
  width: 80vw; 
  padding: 20px;
  align-items: center;
}

.project_content p {
  display: block;
  text-align: left;
  /* margin: 0 20px 0 20px; */
  line-height: 1.4rem;
  padding-top: 12px
}

.project_content a {
  letter-spacing: 1px;
  text-decoration: underline;
}

.project_content a:hover {
  color: rgb(202, 202, 202);
}

.project img {
  width: 30vw;
  height: auto;
  grid-column: 1;
  grid-row: 1 / span 10;
}


.icon {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(202, 202, 202);
}

.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.aboutMe ul {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(7, 1fr);
  margin-top: 30px;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 13px;
  justify-items: start;
}

.aboutMe li:nth-child(1) {
  grid-column: 1 / span 8;
  grid-row-start: 1;
}

.aboutMe li:nth-child(2) {
  grid-column: 2 / span 8;
  grid-row-start: 2;
}

.aboutMe li:nth-child(3) {
  grid-column: 3 / span 8;
  grid-row-start: 3;
}

.aboutMe li:nth-child(4) {
  grid-column: 4 / span 8;
  grid-row-start: 4;
}
.aboutMe li:nth-child(5) {
  grid-column: 5 / span 8;
  grid-row-start: 5;
}
.aboutMe li:nth-child(6) {
  grid-column: 6 / span 8;
  grid-row-start: 6;
}
.aboutMe li:nth-child(7) {
  grid-column: 7 / span 8;
  grid-row-start: 7;
}
.aboutMe li:nth-child(8) {
  grid-column: 8 / span 8;
  grid-row-start: 8;
}