html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

body {
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75em;
  color: #8a8a8a;
  background-color: #2a2a2a;
  text-align: center;
  font-family: 'Lato', sans-serif;
  transition: transform .45s cubic-bezier(0,.75,0,1);
}

p, a{
  color: #8a8a8a;
  font-size: 1.20em;
  line-height: 1.9em;
  font-weight: 400;
  letter-spacing: 0px;
  text-decoration: none;
  font-family: Lato, Helvetica, Arial, sans-serif;
}

a {
  letter-spacing: 4px;
}

.bold {
  font-family: inherit;
  font-size: 1.15em;
  line-height: 1.125em;
  font-weight: 700;
  color: #9a9a9a;
}

h1 {
  color: #cacaca;
  font-size: 2.0em;
  line-height: 1.7em;
  font-weight: 700;
  letter-spacing: 3.5px;
  font-family: 'Montserrat', sans-serif;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 15px;
  background-color: #5c5c5c;
  padding-top: 10px;
  padding-bottom: 13px;
}

li > a {
  color: #cacaca;
  transition: all .3s ease-in-out;
}

li  a:hover {
  color: #000;
  transform: scale(1.1);
}

.custom-underline {
  position: relative;
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.custom-underline,
.custom-underline:hover,
.custom-underline:focus,
.custom-underline:active {
  color: rgb(202, 202, 202);
  text-decoration: none;
}

.custom-underline::after {
  content: "";
  position: absolute;
}

li .custom-underline::after {
  top: 90%;
  height: 2px;
  width: 0%;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  transition: 0.4s ease-out all .1s;
}

li:hover .custom-underline::after {
  width: 90%;
  left: 5%;
  transition: 0.4s ease all;
}

.aboutMe {
  height: 78vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.divider {
  margin-top: 30px;
  margin-bottom: 15px;
  background-color: #5c5c5c;
  padding-bottom: 4px;
}
