body {
  overflow-x: hidden; 
}

div {
  font-size: 40px;
  line-height: 1;
}

.break {
  height: 30px;
}

.m {
  color: red;
}

.w {
  color: black;
}

.seven{
  font-family: 'Raleway', sans-serif;
}
.seven.m {
  transform: rotate(90deg);
  text-align: right;
  line-height: .8;
  padding: 0;
  margin: -4px 2px -11px -4px;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 15vh auto auto 2fr 1fr 1fr;
}

.heroContainer {
  grid-column: 3 / span 4;
  
}

.hero.mwLogo {
  grid-column: 2 / span 2;
}

/* The 2nd below is responsive through the middle of the box, the first is responsive from corner to corner*/
.leftSidePointer {
  height:15vw;
  margin-bottom:2em;
  width:100%;
  padding-left: 4%;
  background: linear-gradient(to top right, #fff calc(50% - 2px), #000, #fff calc(50% + 2px) );
  grid-column: 1 / span 2;
  justify-self: end;
}
.rightSidePointer {
  height:15vw;
  margin-bottom:2em;
  width:100%;
  padding-right: 4%;
  background: linear-gradient(to top left, #fff calc(50% - 2px), #000, #fff calc(50% + 2px) );
  grid-column: 3 / span 2;
}

.center {
  grid-column: 1 / span 4;
  justify-self: center;
}

.heroContainer {
  grid-column: 1 / span 4;
}
.aboutMe h1 {
  margin-top: -60px;
}
